.grid {
  display: grid;
  /*border: 2px blue solid;*/
  height: 500px;
  width: 280px;
  grid-template: repeat(10, 1fr) / repeat(6, 1fr);
  grid-gap: 5px;
  background: url(mountain.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("http://24.media.tumblr.com/tumblr_mb793q3YBi1r93bfso1_500.jpg")
}

.a {
  grid-area: 1 / 1 /span 1 / span 3;
  
}

.b {
  grid-area: 2 / 2 / span 6/ span 4;
  text-align: left;
}
.c {
  grid-area: 8 / 2 / span 3/ span 4; 
  background-image: url("http://oi44.tinypic.com/16lk26q.jpg");
  background-size: 100% 200%;
}
.d {
  grid-area: 4 / 2/ span 3/ span 4;
  background-image: url("https://d29fhpw069ctt2.cloudfront.net/icon/image/37937/preview.svg");
  background-size: 100% 100%;
}
.e{
  grid-area: 7/ 3/ span 1/ span 2
 
}
button{
    position: relative;
    left: 15%;
}

ol {
 
}
.box {
  color: black;
  border-radius: 5px;
  /*border: 2px dodgerblue solid;*/
  
}
.City {
  color: white;
  font-size: 40px;
}
.Time {
  color: white;
  font-size: 30px;
}
.Temperature {
  color: white;
  font-size: 30px;
}
.description {
  color: Blue;
  font-size: 35px;
}