{% load static %}


<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style2.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
  <div class="grid">
    <div class="box a">
      <img src="https://image.flaticon.com/icons/png/512/97/97895.png" width=20px, height=30px/> <font color="grey", size = 5>Username</font>
    </div>
    <div class="box b">
      <ol>
        <div class="City"> Berkeley</div>
        <div class ="Time">10:28 pm</div>
        <div class ="Temperature">35°F</div>
        <div class ="description">Heavily rainning</div>
      </ol>
    </div>
    <div class="box c"></div>
    <div class="box d"></div>
    <div class="box e"><button type="button">Check!</button></div>
  </div>
                      
       
</body>
</html>











